<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Spring Data REST + Javascript</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/jsclient/jquery"></script>
</head>
<body>
    <p th:text="'Hello, World!'" />

    <table id="people"></table>

    <form action="/" id="add">
        <p>First name: <input type="text" name="firstName" /></p>
        <p>Last name: <input type="text" name="lastName"/></p>
        <p><input type="submit" value="Add" /></p>
    </form>

    <script type="application/javascript">
        var personRepository = sdr.repositoriesFactory(null).personRepository;

        var deleteRow = function(uri) {
            personRepository.delete(uri)
                    .done(buildTable());
        }

        var buildTable = function() {
            personRepository.findAll().done(function(data) {
                if (typeof data._embedded != 'undefined') {
                    var people = data._embedded.people;

                    var html = '';
                    for (var i in people) {
                        console.log(people[i]._links.self.href);
                        var row = '<tr>' +
                                '<td>' + people[i].firstName + '</td>' +
                                '<td>' + people[i].lastName + '</td>' +
                                '<td><input type="button" value="Delete" onclick="deleteRow(\'' + encodeURI(people[i]._links.self.href) + '\')" /></td>' +
                                '</tr>';
                        console.log('Adding ' + row);
                        html += row;
                    }
                    $('#people').html(html);
                }
            });
        };

        $(function() {
            buildTable();
        });

        $("#add").submit(function(event){
            event.preventDefault();
            var $form = $(this),
                    firstName = $form.find('input[name="firstName"]').val(),
                    lastName = $form.find('input[name="lastName"]').val();
            personRepository.create({
                firstName: firstName,
                lastName: lastName
            }).done(buildTable);
        });

        $("#people").on('input', function(e){

        });
    </script>

</body>
</html>